<div class="step-content <%= 'is-active' if @step == 4 %>">
    <div class="field">
        <div class="content">
        <ul>
            <li>Come up with an effective pitch to hook the attention of your audience.</li>
            <li>Provide a clear value proposition of what people get when they buy your digital content.</li>
            <li>Position the camera in landscape mode while recording.</li>
            <li>Avoid any background noise while pitching.</li>
            <li>Upload to YouTube and provide the characters after "v=" from the url.</li>
            <li>Upload only horizontal images to the gallery.</li>
        </ul>
        </div>

        <label for="" class="label">Youtube Code</label>
        <%= f.text_field :pitch, autocomplete: "video url", class: "input" %>
    </div>

    <div class="field">
        <label for="" class="label">Photo Gallery</label>
        <div class="control">
            <div class="m-b-20">
                <div class="dropzone" id="myDropzone" action="/contents/<%= @content.id %>/upload_photo"></div>
            </div>

            <div class="columns is-multiline" style: width: 100% %>
                <% @content.photos.each do |photo| %>
                    <div class="column is-one-fifth">
                        <div class="card is-image">
                            <div class="card-image">
                                <%= link_to 'Remove', delete_photo_content_url(photo_id: photo.id, id: @content.id, step: @step), 
                                        method: :delete,
                                        data: { confirm: "Are you sure?" },
                                        class: "delete delete-file is-pulled-right",
                                        style: "z-index: 100"  %>

                                <figure class="image is-4by3">
                                    <%= image_tag url_for(photo) %>
                                </figure>
                            </div>
                        </div>
                    </div>

                <% end %>
            </div>
        </div>
    </div>
</div>

<script>
    Dropzone.options.myDropzone = {
        paramName: "file",
        maxFilesize: 500,
        acceptedFiles: "image/*",
        init: function() {
            this.on('complete', function (file) {
                location.reload();
            })
        }
    }
</script>