<div class="step-content <%= 'is-active' if @step == 4 %>"><br>

    <div class="field">
    <div class="field">
        <label for="" class="label">Pitch Video (Upload to YouTube and provide the unique 11 characters after "v=" from the url.)</label>
        <%= f.text_field :pitch, autocomplete: "video url", class: "input" %>
    </div>
        <label for="" class="label">Photo Gallery</label>
        <div class="control">
            <div class="m-b-20">
                <div class="dropzone" id="myDropzone" action="/contents/<%= @content.id %>/upload_photo"></div>
            </div>

            <div class="columns is-multiline" style: width: 100% %>
                <% @content.photos.each do |photo| %>
                    <div class="column is-one-fifth">
                        <div class="card is-image">
                            <div class="card-image">
                                <%= link_to 'Remove', delete_photo_content_url(photo_id: photo.id, id: @content.id, step: @step), 
                                        method: :delete,
                                        data: { confirm: "Are you sure?" },
                                        class: "delete delete-file is-pulled-right",
                                        style: "z-index: 100"  %>

                                <figure class="image is-4by3">
                                    <%= image_tag url_for(photo) %>
                                </figure>
                            </div>
                        </div>
                    </div>

                <% end %>
            </div>
        </div>
    </div>
</div>

<script>
    Dropzone.options.myDropzone = {
        paramName: "file",
        maxFilesize: 500,
        acceptedFiles: "image/*",
        init: function() {
            this.on('complete', function (file) {
                location.reload();
            })
        }
    }
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">