<% content_for(:html_title) { 'Edit content: Ceefuu' } %>
<section class="section">
  <div class="container">
    <div class="steps" id="stepsDemo">

      <!-- 5 STEPS -->
      <div class="step-item <%= 'is-active' if @step == 1 %> <%= 'is-completed' if @step > 1 %> is-hidden-mobile">
        <div class="step-marker is-hidden-mobile">1</div>
        <div class="step-details is-hidden-mobile">
          <p class="step-title is-hidden-mobile">Overview</p>
        </div>
      </div>
      <div class="step-item <%= 'is-active' if @step == 2 %> <%= 'is-completed' if @step > 2 %> is-hidden-mobile">
        <div class="step-marker is-hidden-mobile">2</div>
        <div class="step-details is-hidden-mobile">
          <p class="step-title is-hidden-mobile">Pricing</p>
        </div>
      </div>
      <div class="step-item <%= 'is-active' if @step == 3 %> <%= 'is-completed' if @step > 3 %> is-hidden-mobile">
        <div class="step-marker is-hidden-mobile">3</div>
        <div class="step-details is-hidden-mobile">
          <p class="step-title is-hidden-mobile">Description</p>
        </div>
      </div>
      <div class="step-item <%= 'is-active' if @step == 4 %> <%= 'is-completed' if @step > 4 %> is-hidden-mobile">
        <div class="step-marker is-hidden-mobile">4</div>
        <div class="step-details is-hidden-mobile">
          <p class="step-title is-hidden-mobile">Gallery</p>
        </div>
      </div>
      <div class="step-item <%= 'is-active' if @step == 5 %> <%= 'is-completed' if @step > 5 %> is-hidden-mobile">
        <div class="step-marker is-hidden-mobile">5</div>
        <div class="step-details is-hidden-mobile">
          <p class="step-title is-hidden-mobile">Publish</p>
        </div>
      </div>

      <!-- FORM TO CREATE A NEW CONTENT HERE-->
      <%= form_for @content, html: {class: "steps-content m-l-0 m-r-0"} do |f| %>
        <%= hidden_field_tag 'step', @step %>
        
        <%= render 'step1', f: f %>
        <%= render 'step2', f: f %>
        <%= render 'step3', f: f %>
        <%= render 'step4', f: f %>
        <%= render 'step5', f: f %>

      <% end %>
    </div>
  </div>
</section>
