<style>
.rounded-img-content{
  display: inline-block;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  overflow: hidden;
}
.rounded-img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
  
  object-fit: cover;
  object-position: center;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.rounded-img-container {
  display: inline-block;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  overflow: hidden;
}

</style>
<% content_for(:html_title) {@content.title}%><% content_for(:html_title) { ' - Ceefuu' } %>

<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.ceefuu.com/">
    <meta property="og:title" content="<%= @content.title %>">
    <meta property="og:image" content="<%= image_url("ceefuu-og.png") %>">


    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.ceefuu.com/">
    <meta property="twitter:title" content="<%= @content.title %>">
    <meta property="twitter:image" content="<%= image_url("ceefuu-og.png") %>">
<% end %>



<section class="section">
    <div class="container">
        <div class="columns">

            <!-- LEFT SIDE -->
            <div class="column is-two-thirds">
                <div class="columns is-multiline">

                    <!-- Carousel -->
                    <div class="column is-full">   
                        <div class="card">
                            <div class="card-content">
                                <div class="content">
                                    <p class="title is-4"><%= @content.title %></p>
                                </div>
                                <hr>
                                <div class="carousel" id="carousel-photo">
                                    <% if @content.pitch.present? %>
                                        <div class="video-container">
                                            <iframe src="https://www.youtube.com/embed/<%= @content.pitch %>" allowfullscreen></iframe>
                                        </div>
                                    <% end %>
                                    <% @content.photos.each do |photo| %>
                                        <div class="carousel-item has-background image is-5by3">
                                            <%= image_tag url_for(photo), class: "is-background", width: "100%" %>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- About Section -->
                    <div class="column">
                        <div class="card">
                            <div class="card-content">
                                <article class="media">
                                    <div class="media-content">
                                        <p><strong>About This Content</strong></p>
                                        <hr>
                                        <%= @content.description %>
                                    </div>
                                </article>
                            </div>
                        </div>                        
                    </div>
                    
                </div>
            </div>

            <!-- RIGHT SIDE -->
            <div class="column">
                <div class="columns is-multiline">

                    <!-- Pricing Section -->
                    <div class="column is-full">

                        <div class="tabs is-fullwidth" id="tabs">
                            <ul>
                                <% Pricing.pricing_types.each do |key, value| %>
                                    <li class="tab <%= 'is-active' if value == 0 %> " 
                                                data-tab="<%= key %>" style="<%= 'display: none' if @content.has_single_price && value != 0 %>">
                                        <a><%= key.capitalize %></a>
                                    </li>
                                <% end %>
                            </ul>
                        </div>

                        <div class="tabs-content">

                            <% @content.pricings.each do |p| %>
                                <div class="tab-content" id="tab-<%= p.pricing_type %>" style="<%= 'display: none' if !p.basic? %>">
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="media">
                                                <div class="media-content">
                                                    <strong><%= p.title %></strong>                                                                                                        
                                                </div>
                                                <div class="media-right">
                                                    <p class="title is-4"><%= number_to_currency(p.price) %></p>
                                                </div>                                                
                                            </div>
                                            <div class="content f-15">
                                                <p class="m-t-30"><%= p.description %></p>
                                                <p class="m-t-30">
                                                    <strong><i class="far fa-clock"></i> <%= pluralize(p.delivery_time, 'Day') %> Delivery</strong>                                                    
                                                </p>
                                            </div>
                                            <% if (!user_signed_in? && @content.active) || (user_signed_in? && @content.active && @content.user_id != current_user.id) %>
                                                <%= link_to "Continue (#{number_to_currency(p.price)})", checkout_path(id: @content.id, pricing_type: p.pricing_type), class: "button is-fullwidth is-black" %>
                                            <% else %>
                                                <button class="button is-fullwidth is-black" disabled>Not Available</button>  
                                            <% end %>
                                            
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                        </div>

                    </div>

                    <!-- Profile Section -->
                    <div class="column">
                        <div class="card">
                            <div class="card-content is-horizontal-center is-flex">
                                <%= link_to users_path(@content.user) do %>
                                    <div class="rounded-img-content">
                                        <%= image_tag avatar_url(@content.user), class: "rounded-img" %>
                                    </div>
                                <% end %>
                            </div>
                            <div class="card-content f-15">
                                <div class="content has-text-centered">
                                <%= link_to users_path(@content.user) do  %>
                                  <p class="title is-5"><%= @content.user.full_name %></p> 
                                <% end %> 
                            </div><br/>
                            
                                <article class="media">
                                    <div class="media-content">
                                        <i class="fas fa-map-marker-alt m-r-5"></i> From
                                    </div>
                                    <div class="media-right">
                                        <%= @content.user.from %>
                                    </div>
                                </article>
                                <article class="media">
                                    <div class="media-content">
                                        <%= @content.user.about %>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
</section>
<%= render "shared/footer" %>

<script>
    BulmaCarousel.attach('#carousel-photo', {
        slidesToScroll: 1,
        slidesToShow: 1
    });

    $(document).ready(function() {
        $('#tabs li').on('click', function() {
            var type = $(this).data('tab');

            $('#tabs li').removeClass('is-active');
            $(this).addClass('is-active');

            $('.tab-content').hide();
            $('#tab-' + type).show();
        }) 
    })

</script>