<style>
.ellipsis {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  /*   max-width: 400px; */
  /*   height: 109.2px; */
  /* Fallback for non-webkit */
  margin: 0 auto;
  /*   font-size: 26px; */
  line-height: 1.4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.is-ellipsis-2 {
  -webkit-line-clamp: 1;
}

.rounded-img-container {
  display: inline-block;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  overflow: hidden;
}

.rounded-img-profile {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
}

.rounded-img-review{
  display: inline-block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
}
.rounded-img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
  
  object-fit: cover;
  object-position: center;
}

/* Flexible iFrame */

.flexible-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.flexible-container iframe,
.flexible-container object,
.flexible-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.title {
    font-family: "Nexa Bold", sans-serif;
}
.media-content{
    font-family: "Nexa Bold", sans-serif;
}
.media-right{
    font-family: "Nexa Regular", sans-serif;
}
.has-text-left{
    font-family: "Nexa Regular", sans-serif;
}
.column{
    font-family: "Nexa Bold", sans-serif;
}
</style>
<% content_for(:html_title)  {@user.full_name} %><% content_for(:html_title) { ' on Ceefuu' } %>

<% content_for :head do %>
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.ceefuu.com/">
    <meta property="og:title" content="<%= @user.full_name %>">
    <meta property="og:image" content="<%= image_url("ceefuu-og.png") %>">


    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.ceefuu.com/">
    <meta property="twitter:title" content="<%= @user.about%>">
    <meta property="twitter:image" content="<%= image_url("ceefuu-og.png") %>">
<% end %>

<section class="section">
    <div class="container">
        <div class="columns">
        
            <!-- LEFT SIDE -->
            <div class="column is-one-third">
                <div class="columns is-multiline">

                    <!-- Top Card -->
                    <div class="column is-full">
                        <div class="card">

                            <!-- Avatar -->
                            <div class="card-content is-horizontal-center is-flex">
                                <div class="rounded-img-container">
                                    <%= image_tag avatar_url(@user), class: "rounded-img" %>
                                </div>
                            </div>
                            
                            <div class="card-content">
                                <!-- From -->
                                <article class="media">
                                    <div class="media-content">Location</div>
                                    <div class="media-right">
                                        <strong><%= @user.from %></strong>
                                    </div>
                                </article>

                            </div>
                        </div>
                    </div>

                    <!-- Bottom Card -->
                    <div class="column is-full">
                        <div class="card">
                            <div class="card-content">

                                <!-- About -->
                                <article class="media">
                                    <div class="media-content">
                                        <p class="has-text-left">
                                            <strong>Bio</strong>
                                            <br>
                                            <%= @user.about %>
                                        </p>
                                    </div>
                                </article>
                                <hr class="h-10">

                                <!-- Language -->
                                <article class="media">
                                    <div class="media-content">
                                        <p class="has-text-left">
                                            <strong>Language</strong>
                                            <br>
                                            <%= @user.language %>
                                        </p>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- RIGHT SIDE -->
            <div class="column">

                <div class="columns is-multiline">
                    <!-- Content -->
                    <% @user.contents.each do |content| %>

                        <div class="column is-one-third">
                            <div class="card">

                            <div class="card-image">
                            <%#= link_to content_path(content) do %>
                                <!-- <figure class="image is-4by4">
                                    <%= image_tag content_cover(content) %>
                                </figure> -->
                               <div class="card-image">
                                    <%= link_to content_path(content) do %>
                                        <figure class="image is-5by3">
                                            <%= image_tag content_cover(content) %>
                                        </figure>
                                    <% end %>
                                </div>
                        </div>
            

                                <div class="card-content p-t-5 p-b-5">
                                    <p class="subtitle is-6 m-b-5 ellipsis is-ellipsis-2"><%= link_to content.title, content_path(content), class: "has-text-black" %></p>
                                    <span class="star-review"><i class="fa fa-star"></i>
                                        <%= content.average_rating %>
                                        <span class="has-text-dark">(<%= content.reviews.count %>)</span>
                                    </span>                                        
                                </div>

                            <footer class="card-footer">
                                <span class="card-footer-item">
                                    <%= link_to users_path(content.user) do %>
                                        <div class="rounded-img-profile">
                                            <%= image_tag avatar_url(content.user), class: "rounded-img" %>
                                        </div>
                                    <% end %>
                                </span>

                            <a class="has-text-black is-block card-footer-item has-text-centered">
                                <% message_price = content.pricings.find{ |p| p.pricing_type == 'message' } %> 
                                <% if !message_price.nil? %>
                                            <span class="small-title">STARTING AT</span> 
                                            <strong><%= number_to_currency(message_price.price) %></strong>                                            
                                        <% else %>
                                            <strong>
                                                <span class="small-title has-text-dark">NO PRICING YET</span>
                                            </strong>
                                        <% end %>
                            </a>
                            </footer> 
                                
                            </div>
                        </div>

                    <% end %>
                </div>


                <div class="card">
                    <div class="card-header">
                        <div class="card-header-title">Latest Reviews</div>
                    </div>
                    <div class="card-content">

                        <!-- Reviews -->
                        <% @reviews.each do |r| %>
                            <article class="media">
                                <figure class="media-left">
                                    <div class="rounded-img-review">
                                        <%= image_tag avatar_url(r.buyer), class: "rounded-img" %>
                                    </div>
                                </figure>

                                <div class="media-content">
                                    <div class="content">
                                        <p class="has-text-left">
                                            <strong><%= r.buyer.full_name %></strong><br>
                                            <%= r.review %>
                                        </p>
                                        <small><%= time_ago_in_words(r.created_at) %></small>
                                    </div>
                                </div>

                                <div class="media-right">
                                    <span class="star-review"><i class="fa fa-star"></i> <%= r.stars %></span>
                                </div>

                            </article>
                        <% end %>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
