<style>
:root {
	--brandColor: hsl(166, 67%, 51%);
	--background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
	--textDark: hsla(0, 0%, 0%, 0.66);
	--textLight: hsla(0, 0%, 0%, 0.33);
}

body {
	background: var(--background);
	height: 105vh;
	color: var(--textDark);
}

.field:not(:last-child) {
	margin-bottom: 1rem;
}

.register {
	margin-top: 8rem;
	background: white;
	border-radius: 10px;
}

.left,
.right {
	padding: 4.5rem;
}

.left {
	border-right: 5px solid var(--background);
}

.left .title {
	font-weight: 800;
	letter-spacing: -2px;
}

.left .colored {
	color: var(--brandColor);
	font-weight: 500;
	margin-top: 1rem !important;
	letter-spacing: -1px;
}

.left p {
	color: var(--textLight);
	font-size: 1.15rem;
}

.right .title {
	font-weight: 800;
	letter-spacing: -1px;
}

.right .description {
	margin-top: 1rem;
	margin-bottom: 1rem !important;
	color: var(--textLight);
	font-size: 1.15rem;
}

.right small {
	color: var(--textLight);
}

input {
	font-size: 1rem;
}

.fab,
.fas {
	color: var(--textLight);
	margin-right: 1rem;
}
</style>
<% content_for(:html_title) { 'Reset your password - Ceefuu' } %>
	<section class="container">
		<div class="columns is-multiline">
			<div class="column is-4 is-offset-4 register">
				<div class="columns">
					<div class="column right">
						<h1 class="title is-4">Reset your password</h1>
						<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
							<%= render "devise/shared/error_messages", resource: resource %>
								<div class="field">
									<div class="control">
										<%= f.label :email, class: "label" %>
											<%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
									</div>
								</div>
								<div class="field">
									<div class="control">
										<%= f.submit "Send password reset instructions", class: "button is-block is-black is-fullwidth" %>
									</div>
								</div>
								<% end %>
									<br> <small class="has-text-black">Already have an account? <%= link_to  "Login", new_user_session_path%></small>
									<br> </div>
				</div>
			</div>
		</div>
	</section>