<style>
.ellipsis {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  /*   max-width: 400px; */
  /*   height: 109.2px; */
  /* Fallback for non-webkit */
  margin: 0 auto;
  /*   font-size: 26px; */
  line-height: 1.4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.is-ellipsis-2 {
  -webkit-line-clamp: 2;
}

/* Flexible iFrame */

.flexible-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.flexible-container iframe,
.flexible-container object,
.flexible-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
</style>

<% @contents.each do |content| %>
    <div class="column is-one-third">
        <div class="card">

            <div class="card-image">
                <%#= link_to content_path(content) do %>
                    <!-- <figure class="image is-4by4">
                        <%= image_tag content_cover(content) %>
                    </figure> -->
                    <div class="column is-full">   
                        <div class="card">
                            <% if content.pitch.present? %>
                                <div class="flexible-container">
                                    <iframe src="https://www.youtube.com/embed/<%= content.pitch %>" allowfullscreen></iframe>
                                </div>
                                <% end %>
                        </div>
                    </div>
            </div>

            <div class="card-content p-t-5 p-b-5">
                <p class="subtitle is-6 m-b-5 ellipsis is-ellipsis-2"><%= link_to content.title, content_path(content), class: "has-text-black" %></p>
                <span class="star-review"><i class="fa fa-star"></i>
                    <%= content.average_rating %>
                    <span class="has-text-black">(<%= content.reviews.count %>)</span>
                </span>                                        
            </div>

            <footer class="card-footer">
                <span class="card-footer-item">
                    <%= link_to users_path(content.user) do %>
                        <figure class="image is-32x32">
                            <%= image_tag avatar_url(content.user), class: "is-rounded" %>
                        </figure>
                    <% end %>
                </span>

                <a class="has-text-black is-block card-footer-item has-text-centered">
                    <span class="small-title">STARTING AT</span> 
                    <strong>$<%= content.price %></strong>
                </a>
            </footer>  
            
        </div>
    </div>

<% end %>
<script>
    BulmaCarousel.attach('#carousel-photo', {
        slidesToScroll: 1,
        slidesToShow: 1
    });

    $(document).ready(function() {
        $('#tabs li').on('click', function() {
            var type = $(this).data('tab');

            $('#tabs li').removeClass('is-active');
            $(this).addClass('is-active');

            $('.tab-content').hide();
            $('#tab-' + type).show();
        }) 
    })

</script>