<style>

.section-feature-grey{

    background-color:#fbfbfb;

}

.app-side .title,.app-side .subtitle{text-align:center;max-width:550px;margin:2rem auto}

.mx-auto {
    width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
}

.max-w-4 {
    max-width: 27.5rem;
}

.columns.is-vcentered{-webkit-box-align:center;-ms-flex-align:center;align-items:center}

.title.is-narrow{margin-bottom:0;}

.py-6{padding-top:3rem !important;padding-bottom:1rem;}
.py-2 {
    text-align:left;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

@media only screen and (min-width: 320px) and (max-width: 1024px) and (orientation: portrait) {

.b-centered-tablet-p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 540px;
}

}
</style>

<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">

        <!-- Primary Meta Tags -->
        <meta name="title" content="Ceefuu: Discover, buy, and sell extraordinary content">
        <meta name="description" content="With Ceefuu creators can sell extraordinary digital content starting from exclusive podcasts to top 10 lists. Join a global community of creators.">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://www.ceefuu.com/">
        <meta property="og:title" content="Ceefuu: Discover, buy, and sell extraordinary content">
        <meta property="og:description" content="With Ceefuu creators can sell extraordinary digital content starting from exclusive podcasts to top 10 lists. Join a global community of creators.">
        <meta property="og:image" content="<%= image_url("ceefuu-og.png") %>">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://www.ceefuu.com/">
        <meta property="twitter:title" content="Ceefuu: Discover, buy, and sell extraordinary content">
        <meta property="twitter:description" content="With Ceefuu creators can sell extraordinary digital content starting from exclusive podcasts to top 10 lists. Join a global community of creators.">
        <meta property="twitter:image" content="<%= image_url("ceefuu-og.png") %>">
<% end %>

<section class="hero is-medium has-bg-img is-center">
    <div class="hero-body">
        <div class="container"><br><br>
        
            <h1 class="title has-text-black has-text-centered has-text-weight-bold is-2 is-size-3-mobile is-spaced main-title">
                Where creators sell their digital content
            </h1>
           
            <h2 class="subtitle has-text-black is-4 is-size-6-mobile mb-4 mx-auto max-w-5 has-text-centered">
                Unlock the true potential of your content.
            </h2><br>
        

        <% if (!user_signed_in?) %>
        <div class="container has-text-centered">
            <%= link_to  "Start Creating", new_content_path, class: "button is-black", data: { turbolinks: false } %>
        </div>
        
        <% else %>
        <div class="container has-text-centered">
            <%= link_to 'Dashboard', dashboard_path, class: "button is-black is-medium m-t-10" %>
        <% end %>
        </div>

        </div>
    </div>
</section>

<section class="m-t-50">
    <div class="container">
        <div class="has-text-centered py-6">
        <h2 class="title is-3 is-size-4-mobile is-black">Discover popular topics</h2>
        </div>
        <div id="carousel-category" class="hero-carousel">
            
            <div class="carousel-item">
                <div class="p-10">
                    <%= link_to search_path(category: 1) do %>
                        <div class="card-image">
                            <%= image_tag "home/category_1.jpg", class: "is-background", width: "100%", height: "70%" %>
                            <div class="card-content is-overlay is-clipped">
                                <span class="subtitle f-15 has-text-white">Tutorials and Courses</span><br>
                                <span class="title is-4 has-text-white">Education</span>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>

            <div class="carousel-item">
                <div class="p-10">
                    <%= link_to search_path(category: 2) do %>
                        <div class="card-image">
                            <%= image_tag "home/category_2.jpg", class: "is-background", width: "100%", height: "70%" %>
                            <div class="card-content is-overlay is-clipped">
                                <span class="subtitle f-15 has-text-white">Crypto and Trading</span><br>
                                <span class="title is-4 has-text-white">Finance</span>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>

            <div class="carousel-item">
                <div class="p-10">
                    <%= link_to search_path(category: 3) do %>
                        <div class="card-image">
                            <%= image_tag "home/category_3.jpg", class: "is-background", width: "100%", height: "70%" %>
                            <div class="card-content is-overlay is-clipped">
                                <span class="subtitle f-15 has-text-white">Stories and Interviews</span><br>
                                <span class="title is-4 has-text-white">Podcasts</span>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>

            <div class="carousel-item">
                <div class="p-10">
                    <%= link_to search_path(category: 4) do %>
                        <div class="card-image">
                            <%= image_tag "home/category_4.jpg", class: "is-background", width: "100%", height: "70%" %>
                            <div class="card-content is-overlay is-clipped">
                                <span class="subtitle f-15 has-text-white">Community and Streams</span><br>
                                <span class="title is-4 has-text-white">Gaming</span>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>

            <div class="carousel-item">
                <div class="p-10">
                    <%= link_to search_path(category: 5) do %>
                        <div class="card-image">
                            <%= image_tag "home/category_5.jpg", class: "is-background", width: "100%", height: "70%" %>
                            <div class="card-content is-overlay is-clipped">
                                <span class="subtitle f-15 has-text-white">Songs and Soundtracks</span><br>
                                <span class="title is-4 has-text-white">Music</span>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>

            <div class="carousel-item">
                <div class="p-10">
                    <%= link_to search_path(category: 6) do %>
                        <div class="card-image">
                            <%= image_tag "home/category_6.jpg", class: "is-background", width: "100%", height: "70%" %>
                            <div class="card-content is-overlay is-clipped">
                                <span class="subtitle f-15 has-text-white">Commentry and Coaching</span><br>
                                <span class="title is-4 has-text-white">Sports</span>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>

            <div class="carousel-item">
                <div class="p-10">
                    <%= link_to search_path(category: 7) do %>
                        <div class="card-image">
                            <%= image_tag "home/category_7.jpg", class: "is-background", width: "100%", height: "70%" %>
                            <div class="card-content is-overlay is-clipped">
                                <span class="subtitle f-15 has-text-white">Manga and Series</span><br>
                                <span class="title is-4 has-text-white">Comics</span>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="section section-feature-grey is-small m-t-50">
        <div class="container">
    
            <div class="columns is-vcentered app-side">
                <div class="column is-8 is-offset-2">
                    <h2 class="title has-text-black has-text-centered has-text-weight-bold is-2 is-size-3-mobile main-title">Great content matters</h2>
                    <p class="subtitle has-text-black is-5 is-size-6-mobile mb-4 mx-auto max-w-5 has-text-centered">We believe that great content is valuable and what you create matters. Our platform will enable creators to make a living by selling extraordinary digital content directly to their audience.</p><br>
                    <div class="container has-text-centered">
                        <%= link_to  "Start Creating", new_content_path, class: "button is-black", data: { turbolinks: false } %>
                    </div>
                </div>
            </div>
        </div>
</section>


 <!--Features-->
    <div class="section">
        <div class="container">
    
            <div class="has-text-centered py-6">
                <h2 class="title has-text-black has-text-centered has-text-weight-bold is-2 is-size-3-mobile is-spaced main-title">Create what you love</h2>
                <p class="subtitle has-text-black is-5 is-size-6-mobile mb-4 mx-auto max-w-5 has-text-centered">A new medium for selling digital content</p>
            </div>
    
            <div class="py-6 small:mb-10">
                <div class="columns is-vcentered b-centered-tablet-p">
                    <div class="column is-6">
                        <%= image_tag "illustrations/card-3.gif", class: "max-w-4 mx-auto is-block" %>
                    </div>
    
                    <div class="column is-5">
                        <h3 class="title is-4 is-narrow has-text-black">Create a compelling pitch</h3>
                        <p class="py-2 max-w-4 text-medium has-text-center-tablet has-text-black b-centered-tablet-p">Come up with an effective one minute pitch - a value proposition of what people get when they buy your digital content. Give your audience a teaser of what you are selling. Be unique, and keep experimenting to see what works.
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="py-6 small:mb-10">
                <div class="columns is-vcentered b-centered-tablet-p">
                    <div class="column is-6 is-hidden-desktop">
                        <%= image_tag "illustrations/card-1.gif", class: "max-w-4 mx-auto is-block" %>
                    </div>
                    <div class="column is-5 is-offset-1">
                        <h3 class="title is-4 is-narrow has-text-black">Share it with your audience</h3>
                        <p class="py-2 max-w-4 text-medium has-text-center-tablet has-text-black b-centered-tablet-p">Share your Ceefuu profile with your audience and start generating revenue. From podcast links to top 10 tips, sell your premium content with just a few clicks. We manage the technology, so you can focus on doing what you do the best.
                        </p>
                    </div>
                    <div class="column is-6 is-hidden-mobile">
                        <%= image_tag "illustrations/card-1.gif", class: "max-w-4 mx-auto is-block" %>
                    </div>
                </div>
            </div>
    
            <div class="py-6">
                <div class="columns is-vcentered b-centered-tablet-p">
                    <div class="column is-6">
                        <%= image_tag "illustrations/card-2.gif", class: "max-w-4 mx-auto is-block" %>
                    </div>
    
                    <div class="column is-5">
                        <h3 class="title is-4 is-narrow has-text-black">Everything in one place</h3>
                        <p class="py-2 max-w-4 text-medium has-text-center-tablet has-text-black b-centered-tablet-p">Ceefuu takes the hassle out of running a digital content business. Our platform provides creators with tools to track earnings, manage all orders, and build a meaningful relationship with the audience.</p>
                    </div>
                </div>
            </div>
    
        </div>
    </div>

<%= render  "shared/footer" %>

<script>
    BulmaCarousel.attach('#carousel-category', {
        slidesToScroll: 1,
        slidesToShow: 4,
        infinite: true,
        pagination: false
    });
</script>
