<style>

.section-feature-grey{

    background-color:#fbfbfb;

}

.app-side .title,.app-side .subtitle{text-align:center;max-width:550px;margin:2rem auto}

.mx-auto {
    width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
}

.max-w-4 {
    max-width: 27.5rem;
}

.columns.is-vcentered{-webkit-box-align:center;-ms-flex-align:center;align-items:center}

.title.is-narrow{margin-bottom:0;}

.py-6{padding-top:3rem !important;padding-bottom:1rem;}
.py-2 {
    text-align:left;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

@media only screen and (min-width: 320px) and (max-width: 1024px) and (orientation: portrait) {

.b-centered-tablet-p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
}

}
</style>

<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">

        <!-- Primary Meta Tags -->
        <meta name="title" content="Ceefuu - Start a paid vlog">
        <meta name="description" content="Ceefuu makes it easy for vloggers to earn money by selling premium content directly to their audience.">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://www.ceefuu.com/">
        <meta property="og:title" content="Ceefuu - Start a paid vlog">
        <meta property="og:description" content="Ceefuu makes it easy for vloggers to earn money by selling premium content directly to their audience.">
        <meta property="og:image" content="<%= image_url("ceefuu-og.png") %>">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://www.ceefuu.com/">
        <meta property="twitter:title" content="Ceefuu - Start a paid vlog">
        <meta property="twitter:description" content="Ceefuu makes it easy for vloggers to earn money by selling premium content directly to their audience.">
        <meta property="twitter:image" content="<%= image_url("ceefuu-og.png") %>">
<% end %>

<section class="hero is-medium is-light is-center">
    <div class="hero-body">
        <div class="container"><br><br>
        
            <h1 class="title has-text-black has-text-centered has-text-weight-bold is-2 is-size-3-mobile is-spaced main-title">
                Start a paid vlog
            </h1>
           
            <h2 class="subtitle has-text-black is-4 is-size-6-mobile mb-4 mx-auto max-w-5 has-text-centered">
                Unlock the true potential of your content.
            </h2><br>
        

        <% if (!user_signed_in?) %>
        <div class="container has-text-centered">
            <%= link_to  "Start vlogging", new_content_path, class: "button is-black", data: { turbolinks: false } %>
        </div>
        
        <% else %>
        <div class="container has-text-centered">
            <%= link_to 'Dashboard', dashboard_path, class: "button is-black is-medium m-t-10" %>
        <% end %>
        </div>

        </div>
    </div>
</section>


 <!--Features-->
    <div class="section">
        <div class="container">
    
            <div class="has-text-centered py-6">
                <h2 class="title has-text-black has-text-centered has-text-weight-bold is-2 is-size-3-mobile is-spaced main-title">Create what you love</h2>
                <p class="subtitle has-text-black is-5 is-size-6-mobile mb-4 mx-auto max-w-5 has-text-centered">A medium for sharing extraordinary vlogs. </p>
            </div>
    
            <div class="py-6 small:mb-10">
                <div class="columns is-vcentered b-centered-tablet-p">
                    <div class="column is-6">
                        <%= image_tag "illustrations/card-1.jpg", class: "max-w-4 mx-auto is-block" %>
                    </div>
    
                    <div class="column is-5">
                        <h3 class="title is-4 is-narrow has-text-black">Create a compelling trailer</h3>
                        <p class="py-2 max-w-4 text-medium has-text-center-tablet has-text-black b-centered-tablet-p">Come up with an effective pitch - a value proposition of what your audience can feel, get, or achieve when they watch your vlog. Give your audience a teaser of what you are creating. Be unique, and keep experimenting to see what works.
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="py-6 small:mb-10">
                <div class="columns is-vcentered b-centered-tablet-p">
                    <div class="column is-6 is-hidden-desktop">
                        <%= image_tag "illustrations/card-2.jpg", class: "max-w-4 mx-auto is-block" %>
                    </div>
                    <div class="column is-5 is-offset-1">
                        <h3 class="title is-4 is-narrow has-text-black">Share with your audience</h3>
                        <p class="py-2 max-w-4 text-medium has-text-center-tablet has-text-black b-centered-tablet-p">Share your Ceefuu profile with your audience and start generating revenue. From mental health tips to pranking your friends, sell your premium content with just a few clicks. We manage the technology, so you can focus on doing what you do the best.
                        </p>
                    </div>
                    <div class="column is-6 is-hidden-mobile">
                        <%= image_tag "illustrations/card-2.jpg", class: "max-w-4 mx-auto is-block" %>
                    </div>
                </div>
            </div>
    
            <div class="py-6">
                <div class="columns is-vcentered b-centered-tablet-p">
                    <div class="column is-6">
                        <%= image_tag "illustrations/card-3.jpg", class: "max-w-4 mx-auto is-block" %>
                    </div>
    
                    <div class="column is-5">
                        <h3 class="title is-4 is-narrow has-text-black">Everything in one place</h3>
                        <p class="py-2 max-w-4 text-medium has-text-center-tablet has-text-black b-centered-tablet-p">Ceefuu takes the hassle out of running your vlog business. Our platform provides creators with tools to track earnings, manage all orders, and build a meaningful relationship with the audience. Start a paid vlog today.</p>
                    </div>
                </div>
            </div>
    
        </div>
    </div>

<%= render  "shared/footer" %>

<script>
    BulmaCarousel.attach('#carousel-category', {
        slidesToScroll: 1,
        slidesToShow: 4,
        infinite: true,
        pagination: false
    });
</script>
