<style>
.section-feature-grey{

    background-color:#fbfbfb;

}

.has-bg-img {
  background: url("hero.png") center center;
  background-size: cover;
}

.app-side .title,.app-side .subtitle{text-align:center;max-width:550px;margin:2rem auto}

.mx-auto {
    width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
}

.max-w-4 {
    max-width: 27.5rem;
}

.hero-body {
  font-family: "Nexa Bold", sans-serif;
}

.container{
    font-family: "Nexa Bold", sans-serif;
}

.columns.is-vcentered{-webkit-box-align:center;-ms-flex-align:center;align-items:center}

.title.is-narrow{margin-bottom:0;}

.py-6{padding-top:3rem !important;padding-bottom:1rem;}
.py-2 {
    text-align:left;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

@media only screen and (min-width: 320px) and (max-width: 1024px) and (orientation: portrait) {

.b-centered-tablet-p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
}

}
</style>

<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">

        <!-- Primary Meta Tags -->
        <meta name="title" content="Ceefuu - Build & Scale a Virtual Mentoring Business">
        <meta name="description" content="Ceefuu is a virtual mentoring business builder for creators and online educators. Share your knowledge and earn money on your schedule. Join Ceefuu.">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://www.ceefuu.com/">
        <meta property="og:title" content="Ceefuu - Build & Scale a Virtual Mentoring Business">
        <meta property="og:description" content="Ceefuu is a virtual mentoring business builder for creators and online educators. Share your knowledge and earn money on your schedule. Join Ceefuu.">
        <meta property="og:image" content="<%= image_url("ceefuu-og.png") %>">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://www.ceefuu.com/">
        <meta property="twitter:title" content="Ceefuu - Build & Scale a Virtual Mentoring Business">
        <meta property="twitter:description" content="Ceefuu is a virtual mentoring business builder for creators and online educators. Share your knowledge and earn money on your schedule. Join Ceefuu.">
        <meta property="twitter:image" content="<%= image_url("ceefuu-og.png") %>">
<% end %>

<section class="hero is-medium has-bg-img">
    <div class="hero-body">
        <div class="container"><br>
        
            <h1 class="title has-text-white has-text-left has-text-weight-bold is-2 is-size-4-mobile is-spaced main-title">
                Build & Scale a Virtual<br>Mentoring Business
            </h1>
           
            <h2 class="subtitle has-text-white is-4 is-size-6-mobile mb-4 mx-auto max-w-5 has-text-left">
                Earn money by sharing your knowledge.
            </h2><br>
        

        <% if (!user_signed_in?) %>
        <div class="container has-text-left">
            <%= link_to  "Start mentoring", new_user_registration_path, class: "button is-white", data: { turbolinks: false } %>
        </div>
          
        <% else %>
        <div class="container has-text-left">
            <%= link_to 'Dashboard', dashboard_path, class: "button is-white is-medium m-t-10" %>
        <% end %>
        </div>

        </div>
    </div>
</section>
<div class="section">
<section class="m-t-50">
    <div class="container">
        <h1 class="title has-text-black has-text-left is-3 is-size-4-mobile p-l-10">Popular Services</h1>
        <div id="carousel-category" class="hero-carousel">
            
            <div class="carousel-item">
                <div class="p-10">
                    <%= link_to search_path(category: 12) do %>
                        <div class="card-image">
                            <%= image_tag "home/category_1.jpg", class: "is-background", width: "100%", height: "100%" %>
                            <div class="card-content is-overlay is-clipped">
                                <span class="subtitle f-15 has-text-white">Consult or Collaborate</span><br>
                                <span class="title is-4 has-text-white">Web Development</span>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>

            <div class="carousel-item">
                <div class="p-10">
                    <%= link_to search_path(category: 8) do %>
                        <div class="card-image">
                            <%= image_tag "home/category_2.jpg", class: "is-background", width: "100%", height: "100%" %>
                            <div class="card-content is-overlay is-clipped">
                                <span class="subtitle f-15 has-text-white">NFT, Stocks & Tips</span><br>
                                <span class="title is-4 has-text-white">Finance & Crypto</span>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>

            <div class="carousel-item">
                <div class="p-10">
                    <%= link_to search_path(category: 11) do %>
                        <div class="card-image">
                            <%= image_tag "home/category_3.jpg", class: "is-background", width: "100%", height: "100%" %>
                            <div class="card-content is-overlay is-clipped">
                                <span class="subtitle f-15 has-text-white">AI, NLP, & Data Analysis</span><br>
                                <span class="title is-4 has-text-white">Data Science</span>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>

            <div class="carousel-item">
                <div class="p-10">
                    <%= link_to search_path(category: 2) do %>
                        <div class="card-image">
                            <%= image_tag "home/category_4.jpg", class: "is-background", width: "100%", height: "100%" %>
                            <div class="card-content is-overlay is-clipped">
                                <span class="subtitle f-15 has-text-white">YouTube, Instagram, & TikTok</span><br>
                                <span class="title is-4 has-text-white">Photography & Video</span>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>

            <div class="carousel-item">
                <div class="p-10">
                    <%= link_to search_path(category: 1) do %>
                        <div class="card-image">
                            <%= image_tag "home/category_5.jpg", class: "is-background", width: "100%", height: "100%" %>
                            <div class="card-content is-overlay is-clipped">
                                <span class="subtitle f-15 has-text-white">Personalised music lessons</span><br>
                                <span class="title is-4 has-text-white">Music</span>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>

            <div class="carousel-item">
                <div class="p-10">
                    <%= link_to search_path(category: 4) do %>
                        <div class="card-image">
                            <%= image_tag "home/category_6.jpg", class: "is-background", width: "100%", height: "100%" %>
                            <div class="card-content is-overlay is-clipped">
                                <span class="subtitle f-15 has-text-white">SEO & Performance Marketing</span><br>
                                <span class="title is-4 has-text-white">Digital Marketing</span>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>

            <div class="carousel-item">
                <div class="p-10">
                    <%= link_to search_path(category: 3) do %>
                        <div class="card-image">
                            <%= image_tag "home/category_7.jpg", class: "is-background", width: "100%", height: "100%" %>
                            <div class="card-content is-overlay is-clipped">
                                <span class="subtitle f-15 has-text-white">Mental & Physical Health</span><br>
                                <span class="title is-4 has-text-white">Health & Fitness</span>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>

        </div>
    </div>
</section>
</div>

     <!--Mockup Section-->
    <div class="section is-app-grey">
        <div class="container">
            <!-- Title -->
            <div class="section-title-wrapper has-text-centered pt-40 pb-40">
                <h2 class="section-title-landing has-text-black is-2 is-size-4-mobile">Turn your knowledge into serious income</h2><br>
                <h4 class="has-text-grey is-size-6-mobile">A new medium to share your expertise with the world.</h4>
            </div><br>

            <!--Mockup-->
            <div class="mockup-wrap">
                <div class="image-wrap">
                    <%= image_tag "home/home-feature.png", class: "full-image-minimal" %>

                    <div class="columns is-multiline app-features is-pulled">
                        <div class="column is-12">
                            <!-- Side icon box -->
                            <div class="content content-flex">
                                
                                <div class="dark-text has-text-left ml-30">
                                    <h5 class="text-bold">Earnings, simplified</h5>
                                    <p>
                                        Ceefuu's platform is designed to empower creators and professionals to earn money by engaging in short 20-minute live calls, video messages, and discussions. You set the price for your expertise.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="column is-12">
                            <!-- Side icon box -->
                            <div class="content content-flex">
                                
                                <div class="dark-text has-text-left ml-30">
                                    <h5 class="text-bold">Engage with your mentee</h5>
                                    <p>
                                        Our platform enables you to stay engaged with a community of people interested in what you have to say. No more reaching out through Email, Twitter, or Instagram - meet your audience live!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="column is-12">
                            <!-- Side icon box -->
                            <div class="content content-flex">
                                
                                <div class="dark-text has-text-left ml-30">
                                    <h5 class="text-bold">Make an impact</h5>
                                    <p>
                                        Be more memorable by sending out video messages to your mentee. Make a remarkable impact on their life by addressing their questions, objections or frustrations in a personal, visual way.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="column is-12">
                            <!-- Side icon box -->
                            <div class="content content-flex">
                                
                                <div class="dark-text has-text-left ml-30">
                                    <h5 class="text-bold">A community that cares about you</h5>
                                    <p>
                                       In addition to getting paid for what you know, we also give you all the tools you need to make sure you're always on top of things — from revenue tracking to live chat, we automate the entire process.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="section-cta has-text-centered pb-40">
                        <%= link_to 'Become a consultant', new_content_path, class: "button button-cta primary-btn is-rounded" %>
                        <p>No credit card required.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--FAQ-->
 <div class="section">
        <div class="container">
            <!-- Title -->
            <div class="section-title-wrapper has-text-centered pt-40 pb-40">
                <h2 class="section-title-landing has-text-black is-2 is-size-4-mobile">Frequently asked questions</h2><br>
                <h4 class="has-text-grey is-size-6-mobile">Everything you need to know to get started.</h4>
            </div>

            <div class="faq-wrapper">
                <div class="columns">
                    <div class="column is-5 is-offset-1">
                        <!--Faq Block-->
                        <div class="faq-block">
                            <div class="block-header">
                                <div class="header-icon">
                                    <i class="fa fa-plus"></i>
                                </div>
                                <h3>How does Ceefuu work?</h3>
                            </div>
                            <div class="block-body">
                                <p>
                                    Ceefuu is a platform that enables creators and professionals to earn money 
                                    by sharing knowledge and be a part of the global knowledge sharing economy.
                                    Getting started is free and easy! Just sign up with your email and add your service.
                                </p>
                            </div>
                        </div>
                        <!--Faq Block-->
                        <div class="faq-block">
                            <div class="block-header">
                                <div class="header-icon">
                                    <i class="fa fa-plus"></i>
                                </div>
                                <h3>How does payment work?</h3>
                            </div>
                            <div class="block-body">
                                <p>
                                    When you sell on Ceefuu, you keep 100% of all your earnings. 
                                    Your customers pay you directly through an accredited payment processor, Stripe.com, 
                                    which automatically issues payments to your bank account the day after each service is delivered.
                                    Ceefuu collects 20% service charge from your audience to help cover the cost of customer service, marketing support,  
                                    and website development.

                                </p>
                            </div>
                        </div>
                        <!--Faq Block-->
                        <div class="faq-block">
                            <div class="block-header">
                                <div class="header-icon">
                                    <i class="fa fa-plus"></i>
                                </div>
                                <h3>What is mentoring on Ceefuu really like?</h3>
                            </div>
                            <div class="block-body">
                                <p>
                                    Mentoring on Ceefuu is easy. You list your expertise, set your rates 
                                    and availability, and your audience books a session with you. 
                                    You can either consult via text, short video messages, or 20-minute 
                                    live video calls. We’ll notify you of all the orders in an easy-to-read list. 
                                    Once you’ve finished mentoring, you’ll mark the session as finished. 
                                </p>
                            </div>
                        </div>
                        <!--Faq Block-->
                        <div class="faq-block">
                            <div class="block-header">
                                <div class="header-icon">
                                    <i class="fa fa-plus"></i>
                                </div>
                                <h3>How many days I can consult?</h3>
                            </div>
                            <div class="block-body">
                                <p>
                                    It's completely up to you! When someone
                                    buys a 20-minute live session, share your Calendly link with them. No pressure, feel free to go at your own pace!
                                </p>
                            </div>
                        </div>
                        <!--Faq Block-->
                        <div class="faq-block">
                            <div class="block-header">
                                <div class="header-icon">
                                    <i class="fa fa-plus"></i>
                                </div>
                                <h3>How do I get paid?</h3>
                            </div>
                            <div class="block-body">
                                <p>
                                    We partner with an online payment processing system, which automatically issues payments soon after each day that you consult! 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="column is-5">
                        <!--Faq Block-->
                        <div class="faq-block">
                            <div class="block-header">
                                <div class="header-icon">
                                    <i class="fa fa-plus"></i>
                                </div>
                                <h3>I forgot my password, what do I do?</h3>
                            </div>
                            <div class="block-body">
                                <p>
                                   You can reset your password by simply clicking "Forgot password?" on the login page. 
                                   You will then be sent an email with further instructions.
                                </p>
                            </div>
                        </div>
                        <!--Faq Block-->
                        <div class="faq-block">
                            <div class="block-header">
                                <div class="header-icon">
                                    <i class="fa fa-plus"></i>
                                </div>
                                <h3>How do I view my selling history?</h3>
                            </div>
                            <div class="block-body">
                                <p>
                                    You can view all of your sales by heading to your selling history page on your account. 
                                    On your selling history page you can click the “View Details” button next to any of your orders to see a summary of the consultation. 
                                    You can view the total amount, date of the order and due date in the selling history page .
                                </p>
                            </div>
                        </div>
                        <!--Faq Block-->
                        <div class="faq-block">
                            <div class="block-header">
                                <div class="header-icon">
                                    <i class="fa fa-plus"></i>
                                </div>
                                <h3>I would like to cancel my upcoming appointment.</h3>
                            </div>
                            <div class="block-body">
                                <p>
                                    Our team is happy to help resolve any issues you are experiencing. The best way to reach us is by sending an email at support@ceefuu.com. Please provide the order number and the customer details for us to process a refund.
                                </p>
                            </div>
                        </div>
                        <!--Faq Block-->
                        <div class="faq-block">
                            <div class="block-header">
                                <div class="header-icon">
                                    <i class="fa fa-plus"></i>
                                </div>
                                <h3>How can I add my service?</h3>
                            </div>
                            <div class="block-body">
                                <p>
                                    Once you log in to your account, go to the dashboard by clicking your name on the top right corner.
                                    Fill out all your account details i.e. profile picture, location and bio. When you click on create new service,
                                    you have the option to choose your category, consultation preference and add a title.
                                    Proceed to the next screen to add service details, photos, and description.
                                </p>
                            </div>
                        </div>
                        <!--Faq Block-->
                        <div class="faq-block">
                            <div class="block-header">
                                <div class="header-icon">
                                    <i class="fa fa-plus"></i>
                                </div>
                                <h3>How can I get support?</h3>
                            </div>
                            <div class="block-body">
                                <p>
                                    The best way to reach us is by sending an email to support@ceefuu.com.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%= render  "shared/footer" %>

<script>
    BulmaCarousel.attach('#carousel-category', {
        slidesToScroll: 1,
        slidesToShow: 4,
        infinite: true,
        pagination: false
    });
</script>
<script>
$(document).ready(function initFaq() {
  $(".faq-block .block-header").on("click", function () {
    $(this).toggleClass("is-active");
    $(this).closest(".faq-block").find(".block-body").slideToggle("fast");
  });
});
</script>