<style>
.input{
    width: 500px
}
.container{
    font-family: "Nexa Bold", sans-serif;
}
.select{
    font-family: "Nexa Bold", sans-serif;
}
</style>

<% content_for(:html_title) { 'Ceefuu Discovery - Search for your favourite instructors & creators' } %>

<section class="section">
    <div class="container">

        <!-- HEADER SECTION -->
        <div class="card m-b-20">
            <div class="card-header">

                <!-- Category -->
                <div class="card-header-title">
                    Browse all <% if @category %> > <%= @category.name %> <% end %>
                </div>

                <!-- Sort by Dropdown -->
                <%= form_tag '', method: :get do %>
                    <%= hidden_field_tag 'category', @category ? @category.id : '' %>
                    <div class="field p-10">
                        <div class="select">
                            <%= select_tag 'sort', options_for_select(
                                [
                                    ['Price Low to High', 'price asc'],
                                    ['Price High to Low', 'price desc'],
                                    ['Latest First', 'contents.created_at desc'],
                                    ['Oldest First', 'contents.created_at asc']
                                ], selected: @sort
                            ), onchange: "this.form.submit();" %>
                        </div>
                    </div>  
                <% end %>            
            </div>
        </div>
        
        <div class="columns">


            <!-- RIGHT SIDE -->
            <div class="column infinite-list">

                <!-- List of contents -->
                <div class="columns is-multiline">
                    <%= render partial: 'shared/contents', object: @contents %>
                </div>

                <!-- Pagination -->
                <div class="card">
                    <div class="card-header-title is-centered">
                        <%= paginate @contents %>
                    </div>
                </div>
            </div>

        </div>
        
    </div>
</section>