<style>
.has-text-centered{
  font-family: "Nexa Regular", sans-serif;
}
.has-text-left{
  font-family: "Nexa Regular", sans-serif;
}
</style>
<% content_for(:html_title) { 'Log in to your account - Ceefuu' } %>
<!-- Wrapper -->
    <div class="login-wrapper columns is-gapless">
        <!-- Form section -->
        <div class="column is-7">
            <div class="hero is-fullheight">
                <div class="hero-heading">
                    <div class="auth-logo">
                       
                    </div>
                </div>
                <div class="hero-body">
                    <div class="container">
                        <div class="columns">
                            <div class="column"></div>
                            <div class="column is-5">
                                <div class="auth-content">
                                    <h2>Welcome Back!</h2>
                                    <p class="has-text-left">Please sign in to your account</p>
                                    <p class="has-text-left">
                                    <%= link_to  "I do not have an account yet", new_user_registration_path, data: { turbolinks: false }  %>
                                    </p>
                                </div>

                                <!-- Login Form -->
                                
                                    <div id="signin-form" class="login-form animated preFadeInLeft fadeInLeft">
                                        <!-- Input -->
                                        <div class="field pb-10">
                                            <div class="control has-icons-right">
                                            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                                            <%= render "devise/shared/error_messages", resource: resource %>
                                                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input is-medium has-shadow",  placeholder: "Email" %>
                                                <span class="icon is-medium is-right">
                                                    <i class="fas fa-envelope"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <!-- Input -->
                                        <div class="field pb-10">
                                            <div class="control has-icons-right">
                                                <%= f.password_field :password, autocomplete: "current-password", class: "input is-medium has-shadow", placeholder: "Password" %>
                                                <span class="icon is-medium is-right">
                                                  <i class="fas fa-lock"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <!-- Submit -->
                                        <p class="control login">
                                        <%= f.submit "Sign in", class: "
                                button button-cta
                                primary-btn
                                btn-align-lg
                                is-bold is-fullwidth
                                rounded
                                raised
                                no-lh
                              " %><% end %>
                                  
                                        </p>
                                    </div>
                                

                                <!-- Toggles -->
                                <div id="recover" class="
                          pt-10
                          pb-10
                          forgot-password
                          animated
                          preFadeInLeft
                          fadeInLeft
                        "> <br>
                                    <p class="has-text-centered has-text-black">
                                        <%= link_to  "Forgot your password?", new_user_password_path %>
                                    </p>
                                </div>

                                <div id="back-to-login" class="
                          pt-10
                          pb-10
                          forgot-password
                          animated
                          preFadeInLeft
                          fadeInLeft
                          is-hidden
                        ">
                                    <p class="has-text-centered">
                                        <a href="#">Back to Sign in</a>
                                    </p>
                                </div>
                            </div>
                            <div class="column"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Image section (hidden on mobile) -->
        <div class="column login-column is-5 is-hidden-mobile hero-banner">
            <div class="hero is-fullheight is-theme-primary is-relative">
                <div class="columns has-text-centered">
                    <div class="column">
                       
                    </div>
                </div>
                 <%= image_tag "home/login.jpg", class: "login-city" %>
            </div>
        </div>
    </div>